<!DOCTYPE html>
<html>
  <head>
    <title>monitoring</title>

    <script type="text/javascript">
      window.joosy = {
        libraries: <%= extract_sources_and_sizes_from_include_tag('monitoring') %>,
        environment: '<%= Rails.env.to_s %>',
        locale: '<%= I18n.locale %>'
      };

      window.terminals = <%= raw @terminals %>;
    </script>

    <%= stylesheet_link_tag 'monitoring' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= javascript_include_tag 'monitoring_preloader' %>
    <div id="application">
      <div id="preloader" class="container-fluid">
        Loading...
      </div>
    </div>
  </body>
</html>